$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

form.active { display: block !important; }
h4 { margin-top: 35px; }
iframe { border: none; }
label { display: block; }
label input[type=checkbox] { cursor: pointer; }
label span { display: inline-block; line-height: 34px; margin-right: 2%; text-align: right; width: 28%; }
li { list-style: none; }
pre { margin: 20px; width: 90%; }
textarea { height: 60px; }

#btn-add-slot { margin: 0 auto; width: 85%; }
#css { background: #CAD9D8; border: 1px solid #9aa6a5; color: #3b403f; display: block; height: 500px; font-family: 'Monaco', monospace; font-size: 14px; line-height: 1.3; margin: 20px; width: 90%; }
#element-list { padding: 20px; }
#element-list li { margin: 8px 0; }
#element-list li img { cursor: move; }
#logo { margin-bottom: 15px; }
#panel-form { margin-bottom: 50px; }
#panel-form h2 { letter-spacing: -1px; margin-bottom: 20px; margin-top: 5px; }
#panel-prop form, #logged, #logged-menu, #saved, #start { display: none; }
#slot-container div li { margin-bottom: -4px !important; }


.affix { top: 0; }
.container-fluid { padding: 0 10px; }
.glyphicon-move { cursor: move; margin-right: 20px; opacity: 0.8; top: -10px; }
.icon { cursor: pointer; }
.modal-dialog { width: 500px; }
.modal-footer a { margin-right: 20px; }
.nav-pills li { cursor: pointer; }
.prop-input-button { padding: 10px; }
.remove { color: #333; float: right; position: relative; top: -8px; }
.slot { background: #C2F2FF; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border: 1px solid #ADE0DB; display: block; height: auto; margin: 0 auto 12px; min-height: 40px; padding: 10px; width: 75%; }
.slot img { cursor: pointer; }
.slot li { min-height: 36px; }
.slot.dragging { background: #FACEAA !important; border: 1px solid #DED0C1 !important; }
.sort-placehold { border: 1px dashed #ADE0DB !important; display: block; height: auto; margin: 0 auto 12px; min-height: 40px; width: 75%; }
.tooltip-inner { background: #3b403f; }
.tooltip.right .tooltip-arrow { border-right-color: #3b403f; }


.icon-button, .icon-checkbox, .icon-date, .icon-dropdown, .icon-email, .icon-label, .icon-password, .icon-tel, .icon-radio, .icon-text, .icon-textarea, .icon-url { background: url('/images/sprite.png') 0 0 no-repeat; display: inline-block; height: 36px; text-indent: -9999px; width: 176px; }
.icon-button { background-position: 0 -280px; }
.icon-checkbox { background-position: 0 -352px; }
.icon-date { background-position: 0 -180px; }
.icon-dropdown { background-position: 0 -390px; }
.icon-email { background-position: 0 -36px; }
.icon-label { background-position: 0 -424px; }
.icon-password { background-position: 0 -144px; }
.icon-radio { background-position: 0 -316px; }
.icon-tel { background-position: 0 -72px; }
.icon-text { background-position: 0 0; }
.icon-textarea { background-position: 0 -216px; height: 64px; }
.icon-url { background-position: 0 -108px; }











.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}



label input[type=email], label input[type=password], label input[type=search], label input[type=text], label input[type=url], textarea { border: 1px solid #ccc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); height: 34px; padding: 6px 12px; width: 60% !important; }